/**
 * Golbal style
 */

 * {
    margin: 0;
    padding: 0
}

body {
    font-family: -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    width: 350px;
    height: 200px;

    color: #333;
    background: #fafafa;

    font-size: 12px;
    line-height: 18px;

    overflow: hidden;
}

a:focus {
    outline:0;
}

/**
 * Face container
 */

#faces-wrapper {
    position: relative;

    margin: 30px 0 0 0;

    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

#faces {
    position: absolute;

    top: 0;
    padding: 10px;

    width: 320px;
}

#faces img {
    margin: 5px;

    width: 25px;
    height: 25px;

    cursor: pointer;
    transition: all .15s;
}

#faces img:hover {
    transition: all 200ms linear;
    transform: scale(1.3);
}

/**
 * Menu( top bar )
 */

#menu {
    position: fixed;

    display: flex;
    justify-content: space-around;

    top:0;
    left:0;

    padding: 6px 0 0;

    width: 100%;
    height: 30px;

    background-color: inherit;

    font-size: 14px;
    text-align: center;

    user-select:none;
    overflow: hidden;
    z-index:10;
}

#menu.scrolled {
    transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

#menu a {
    display: block;
    float: left;

    width: 100%;

    color: rgba(51, 51, 51, .8);

    text-decoration: none;

    border-color: transparent;
    transition: border-color .5s;
}

#menu a:hover {
    padding-bottom: 5px;
    color: #2196f3;
    font-weight: 500;

    transition: border-color .5s;
    border-bottom: 2px solid #2196f3;
}

/**
 * Bottom controlbar
 */
#bottom-contrlbar {
    display: flex;
    flex-direction: row;

    padding: 6px 10px;

    height: 25px;

    box-shadow: -2px 0px 5px rgba(0,0,0,.26);
}

#bottom-contrlbar a {
    margin-right: 5px;
    padding: 0 10px;

    width: 45px;

    color: #fff;

    line-height: 25px;
    text-decoration: none;

    border-radius: 2px;
}

#bottom-contrlbar #action {
    background-color: #2196F3;
}

#bottom-contrlbar #copy {
    background-color: #AEEA00;
}

#bottom-contrlbar #clear {
    background-color: #F44336;
}

#bottom-contrlbar #multi-copy {
    display: flex;
    align-items: center;

    padding-left: 5px;

    width: 100%;
    height: 100%;

    background-color: #fff;

    border-radius: 5px;
    line-height: 25px;

    cursor: no-drop;
    overflow: hidden;
    overflow-x: auto;
}

#bottom-contrlbar #multi-copy img {
    margin: 0 5px;

    width:  20px;
    height: 20px;
}

/**
 * Notify
 */

#feedback {
    display: none;
    position: absolute;

    left:0;
    top:0;

    margin:1px;

    width: 52px;
    height: 52px;

    color: #fff;
    background: rgba(0,0,0,.8);

    font-size: 13px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;

    border-radius: 5px;

    opacity: 0;
    transition: opacity 0.20s ease-in-out;
    user-select: none;
    cursor: pointer;
    z-index: 100;
}

.success-feedback {
    background: #2196F3 !important;
}

.warning-feedback {
    background: #8BC34A !important;
}

.failed-feedback {
    background: #FF5722 !important;
}

/**
 * Hidden
 */

#copy-container {
    position:absolute;
    bottom: 0;
    height: 1px;

    opacity: 0;
}
