/**
 * Golbal style
 */

 * {
    margin: 0;
    padding: 0
}

body {
    font-family: -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    color: #333;
    background: #fafafa;

    font-size: 12px;
    line-height: 18px;

    overflow: hidden;
}

a:focus {
    outline:0;
}