:root {
    --primary-color: rgba(51, 51, 51, 1);
    --text-color: rgba( 255, 255, 255, 1);
}

/**
 * Golbal style
 */

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    color: var(--text-color);
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    width: 500px;
    min-width: 500px;
}

.logo {
    display: block;

    width: 128px;
    height: 128px;

    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url( '/assets/icons/logo.png' );
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25 );
}

.empty {
    height: 120px;
    background-color: var(--text-color);
}

.division {
    height: 80px;

    background-repeat: repeat-x;
    background-size: 400px, contain;
    background-position: bottom;
    background-image: url( '/assets/icons/division.png' );
}

.row {
    flex-direction: row;
}

.desc {
    width: 100%;
    font-size: 2.5rem;
}

.special {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 500px;
}

.special img {
    width: 407px;
    min-width: 407px;
}

.special .gif {
    border-radius: 7px;
    box-shadow: 1px 1px 3px color( var(--primary-color) alpha(-50%));
}

#section0 h1 {
    color: var(--text-color);
    font-size: 3rem;
}

#section0 .download {
    display: flex;
    justify-content: center;
}

#section0 .online {
    margin: 0 10px;
    padding: 0 16px;

    width: 200px;
    height: 48px;

    background-color: #8cd842;

    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 48px;

    border-radius: 25px;

    transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
}

#section0 .online:hover {
    background-color: #00E676;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}

#section0 .offline {
    background-color: #40C4FF;
}

#section0 .offline:hover {
    background-color: #00b1fb;
}

.footer {
    display: flex;
    flex-direction: columna;

    height: 120px;
    color: var(--primary-color);
    background-color: var(--text-color);
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer li {
    list-style: none;
}

.footer .copywrite {
    margin: 10px 0 20px 0;
}

.footer .copywrite a {
    color: #658525;
    font-weight: 400;

    border-bottom: 2px solid transparent;
    transition: border-color .5s;
}

.footer .copywrite a:hover {
    color: #658525;
    border-bottom: 2px solid #658525;
}

.footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px;

    font-size: 1.5rem;
}

.footer .contact a {
    margin: 0 50px;
    color: var(--primary-color);

    border-bottom: 2px solid transparent;
    transition: border-color .5s;
}

.footer .contact a:hover {
    border-bottom: 2px solid var(--primary-color);
}
